.header {
    color: white;
    background-color: #1F2937;
    height: 200px;
}

.headercontainer {
    display: flex;
    justify-content: space-around;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
