* {
    font-family: 'Roboto', sans-serif;
}
.header {
    color: white;
    background-color: #1F2937;
    height: 400px;
}
.headercontainer1 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 70px;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 20px;

}
.headercontainer2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.headercontainer2 .hcontent1{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 430px;
    height: 240px;
}

.headercontainer2 .hcontent2{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 430px;
    height: 240px;
    background-color: #6b717a;
}

.hcontent1 {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hcontent1 p {
    font-size: 18px;
    color: #E5E7Eb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hcontent2 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.header .logo, h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.navlinks ul {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.calltoaction {
    background-color: #3882f6;
    color: white;
    border-radius: 25px;
    border: 2px solid #3882f6;
    width: 90px;
}

.herotext {
    font-size: 48px;
    margin: 0;
}

.section1 {
    display: flex;
    height: 400px;
    justify-content: center;
    border: solid red;
}

.section1 h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section1container {
    display: flex;
}